<section class="panel">
  <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
    Bill
  </p>
  <div class="panel-block ">
    <div  style="height: 300px; width: 100%; overflow-y: auto;">
      <table class="table is-full" style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>1</td> <!-- Default quantity 1 for scanned items -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-block">
    <button class="button is-primary   is-fullwidth">
      Check Out
    </button>
  </div>
</section>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
